.columns-container {
    display: flex;
    flex-direction: row;
    border: 1px solid #ccc;
    overflow-x: auto;
    white-space: nowrap;
}

.column {
    display: flex;
    flex-direction: column;
    min-width: 150px;
    flex: 0 0 auto;
    border-right: 1px solid #ccc;
}

.column-item {
    cursor: pointer;
    padding: 5px 8px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.column-item.has-children::after {
    content: '▶';
    display: inline-block;
    position: absolute;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
    color: #ccc;
}

.selected {
    background-color: #ccc;
}

.column-item.has-children.selected::after {
    color: #1b1b1b;
}

.column-item:hover {
    background-color: #f0f0f0;
}

#expression-editor-full {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    margin-top: 10px;
}

#expression-editor-preview {
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

.ace_editor.ace_autocomplete {
    z-index: 999999999;
}

.expression-builder {
    position: relative;
    padding-top: 20px;
}

.expression-builder .expression-builder-button {
    position: absolute;
    top: 14px;
    right: 0;
    height: 28px;
    padding-top: 10px;
}
