#wpfooter {
    display: none !important;
}

.react-flow {
    height: calc(100vh - 112px) !important;
    width: 100% !important;
}

.is-fullscreen-mode .react-flow {
    height: calc(100vh - 80px) !important;
}

.components-menu-items__item-icon.has-icon-right {
    width: 24px !important;
    height: 24px !important;
}

.react-flow__node-default.selectable.selected,
.react-flow__node-default.selectable:focus,
.react-flow__node-default.selectable:focus-visible,
.react-flow__node-input.selectable.selected,
.react-flow__node-input.selectable:focus,
.react-flow__node-input.selectable:focus-visible,
.react-flow__node-output.selectable.selected,
.react-flow__node-output.selectable:focus,
.react-flow__node-output.selectable:focus-visible,
.react-flow__node-group.selectable.selected,
.react-flow__node-group.selectable:focus,
.react-flow__node-group.selectable:focus-visible {
    box-shadow: 0 0 0 2px #1a192b;
}

.edit-post-post-status .components-base-control {
    flex: auto;
}

.editor-post-title__panel,
.editor-post-description__panel {
    padding-top: 8px;
}

.editor-post-status__panel {
    margin-top: 16px;
    gap: 16px !important;
}

.editor-post-status__panel button {
    flex-grow: 1;
    justify-content: center;
}
