.react-flow__node-body {
    padding: 10px;
    border-radius: 5px;
    color: #171717;
    font-size: 12px;
    min-width: 140px;
    box-sizing: border-box;
    border: 1px solid transparent;
}

.react-flow__node-label {
    text-align: center;
    width: 100%;
}

.react-flow__handle {
    width: 10px !important;
    height: 10px !important;
    box-sizing: border-box;
}

.react-flow__handle.react-flow__handle-bottom {
    bottom: -4px !important;
}

.react-flow__handle.react-flow__handle-top {
    top: -4px !important;
}

.react-flow__node-genericNode {
    background-color: #b2b2c9;
    border: 2px solid #b2b2c9;
}

.react-flow__node-genericNode .react-flow__handle {
    background-color: #fff;
    border: 2px solid #b2b2c9;
}

.react-flow__node-genericTrigger {
    background-color: #B594B6;
    border: 2px solid #B594B6;
}

.react-flow__node-genericTrigger .react-flow__handle {
    background-color: #fff;
    border: 2px solid #7e798b;
}

.react-flow__node-genericAction {
    background-color: #5BC0EB;
    border: 2px solid #5BC0EB;
}

.react-flow__node-genericAction .react-flow__handle {
    background-color: #fff;
    border: 2px solid #43c5ce;
}

.react-flow__node-genericFlow {
    background-color: #F7D08A;
    border: 2px solid #F7D08A;
}

.react-flow__node-genericFlow .react-flow__handle {
    background-color: #fff;
    border: 2px solid #d6eb6d;
}

.react-flow__node-queryAction {
    background-color: #836ec3;
    border: 2px solid #836ec3;
}

.react-flow__node-queryAction .react-flow__handle {
    background-color: #fff;
    border: 2px solid #43c5ce;
}

.react-flow__node-debugAction {
    background-color: #c36e8d;
    border: 2px solid #c36e8d;
}

.react-flow__node-debugAction .react-flow__handle {
    background-color: #fff;
    border: 2px solid #c36e8d;
}

.react-flow__node.selected .react-flow__node-body {
    filter: drop-shadow( 0px 0px 3px rgba(118, 21, 150, 0.7));
    -webkit-filter: drop-shadow( 0px 0px 3px rgba(118, 21, 150, 0.7));
    border: 2px solid #efefef;
}

.react-flow__edge.selected {
    filter: drop-shadow( 0px 0px 2px rgba(118, 21, 150, 0.7));
    -webkit-filter: drop-shadow( 0px 0px 2px rgba(118, 21, 150, 0.7));
}
