/* .react-flow__node-toolbar {
    position: absolute;
    top: -40px;
    left: 0;
}

.react-flow__node-toolbar .components-toolbar {
    height: 30px !important;
    min-height: 20px;
}

.react-flow__node-toolbar .components-toolbar > div {
    min-width: 30px;
}

.react-flow__node-toolbar button.components-button.components-toolbar__control.has-icon {
    min-width: 30px !important;
    height: 30px !important;
} */
