.components-tooltip {
    background: #000;
    border-radius: 2px;
    color: #f0f0f0;
    font-size: 12px;
    line-height: 1.4;
    padding: 4px 8px;
    text-align: center;
    z-index: 1000002;
}

.components-tooltip__shortcut {
    margin-left: 8px;
}
