#publishpress-future-bulk-edit-manual-trigger {
    max-width: 340px;
    padding: 14px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

#publishpress-future-bulk-edit-manual-trigger label {
    display: inline-block;
    max-width: 100% !important;
    line-height: 12px;
}
