node_modules
*.log
vendor
logs
codeceptjs/output
#bin
.idea
.DS_Store
/builder.yml
dist
report.csv
.phplint-cache
.php-cs-fixer.cache
.vscode/
*.code-workspace
.codeception-php*.env
.codeception.env
tests/codeception/_envs/*
!tests/codeception/_envs/.gitkeep
