node_modules
*.log
/vendor
/lib/**/.git
./logs
codeceptjs/output
.idea
.DS_Store
/builder.yml
/dist
report.csv
.phplint-cache
.php-cs-fixer.cache
.vscode/
*.code-workspace
ray.php
/version.txt
/lib/vendor/woocommerce/action-scheduler/changelog.txt
/cache
/.cache
.phplint.cache*

/tests-*
assets/js/*.map
webpack-bundle-stats.json
webpack-bundle-stats.html
webpack-bundle-stats-*.json
webpack-bundle-stats-*.html
gh_token.txt
.env
# VS Code user-specific settings
.vscode/

publishpress-future.code-workspace

.phpactor.json
