./logs
.cache
.deploy-state.json
.DS_Store
.env
.idea
.php-cs-fixer.cache
.phpactor.json
.phplint-cache
.phplint.cache*
.vscode/
.vscode/
*.code-workspace
*.log
/builder.yml
/cache
/dev-workspace-cache
/dist
/lib/**/.git
/lib/**/.gitignore
/lib/**/.gitattributes
/lib/**/.env.example
/lib/**/.phpcs*
/lib/vendor/woocommerce/action-scheduler/changelog.txt
/tests-*
/vendor
/version.txt
# VS Code user-specific settings
assets/js/*.map
codeceptjs/output
gh_token.txt

publishpress-future.code-workspace
.deploy-state.json
node_modules
ray.php
report.csv
webpack-bundle-stats-*.html
webpack-bundle-stats-*.json
webpack-bundle-stats.html
webpack-bundle-stats.json
translation-audit-report.*
/scripts/
