# The path to the WordPress root directory, the one containing the wp-load.php file.
# This can be a relative path from the directory that contains the codeception.yml file,
# or an absolute path.
WORDPRESS_ROOT_DIR="/Users/andersonmartins/LocalSites/future-pro/app/public/wp-content/plugins/publishpress-future-pro/dev-workspace/.cache/wordpress"

# Tests will require a MySQL database to run.
# The database will be created if it does not exist.
# Do not use a database that contains important data!
# For using socket, use this: "mysql://root:root@127.0.0.1/local?unix_socket=/Users/andersonmartins/future-pro-mysqld.sock"
WORDPRESS_DB_URL=mysql://testuser:testpass@127.0.0.1:60902/testdb

WORDPRESS_DB_HOST=127.0.0.1:60902
WORDPRESS_DB_NAME=testdb
WORDPRESS_DB_USER=testuser
WORDPRESS_DB_PASSWORD=testpass

# The Integration suite will use this table prefix for the WordPress tables.
TEST_TABLE_PREFIX=wp_

# This table prefix used by the WordPress site in end-to-end tests.
WORDPRESS_TABLE_PREFIX=wp_

# The URL and domain of the WordPress site used in end-to-end tests.
WORDPRESS_URL=http://localhost:60801
WORDPRESS_DOMAIN=localhost:60801
WORDPRESS_ADMIN_PATH=/wp-admin

# The username and password of the administrator user of the WordPress site used in end-to-end tests.
WORDPRESS_ADMIN_USER=admin
WORDPRESS_ADMIN_PASSWORD=admin

# The host and port of the ChromeDriver server that will be used in end-to-end tests.
CHROMEDRIVER_HOST=localhost
CHROMEDRIVER_PORT=9515
CHROMEDRIVER_BINARY="/opt/homebrew/bin/chromedriver"

PLUGIN_SLUG=publishpress-future-pro
