# The path to the WordPress root directory, the one containing the wp-load.php file.
# This can be a relative path from the directory that contains the codeception.yml file,
# or an absolute path.
WORDPRESS_ROOT_DIR="/Users/andersonmartins/Local Sites/future-free-tests/app/public/"

# Tests will require a MySQL database to run.
# The database will be created if it does not exist.
# Do not use a database that contains important data!
WORDPRESS_DB_URL=mysql://root:root@localhost:3306/local

# The Integration suite will use this table prefix for the WordPress tables.
TEST_TABLE_PREFIX=wp_

# This table prefix used by the WordPress site in end-to-end tests.
WORDPRESS_TABLE_PREFIX=wp_

# The URL and domain of the WordPress site used in end-to-end tests.
WORDPRESS_URL=https://future-free-tests.local
WORDPRESS_DOMAIN=future-free-tests.local
WORDPRESS_ADMIN_PATH=/wp-admin

# The username and password of the administrator user of the WordPress site used in end-to-end tests.
WORDPRESS_ADMIN_USER=admin
WORDPRESS_ADMIN_PASSWORD=clearsec

# The host and port of the ChromeDriver server that will be used in end-to-end tests.
CHROMEDRIVER_HOST=localhost
CHROMEDRIVER_PORT=9515
CHROMEDRIVER_BINARY="/opt/homebrew/bin/chromedriver"

PLUGIN_SLUG=post-expirator
