modules:
    config:
        WPDb:
            dsn: "mysql:host=%TEST_SITE_DB_HOST%;port=%TEST_SITE_DB_PORT%;dbname=%TEST_SITE_DB_NAME%;charset=UTF8"
            user: "%TEST_SITE_DB_USER%"
            password: "%TEST_SITE_DB_PASSWORD%"
            url: "%TEST_SITE_WP_URL%"
            originalUrl: "https://tests.local"
        WPLoader:
            wpRootFolder: "%WP_ROOT_FOLDER%"
            dbName: "%TEST_SITE_DB_NAME%"
            dbHost: "%TEST_SITE_DB_HOST%:%TEST_SITE_DB_PORT%"
            dbUser: "%TEST_SITE_DB_USER%"
            dbPassword: "%TEST_SITE_DB_PASSWORD%"
            domain: "%TEST_SITE_WP_DOMAIN%"
            title: "%TEST_SITE_NAME%"
        WPWebDriver:
            url: "%TEST_SITE_WP_URL%"
            adminUsername: "%TEST_SITE_ADMIN_USERNAME%"
            adminPassword: "%TEST_SITE_ADMIN_PASSWORD%"
extensions:
    enabled:
        - Codeception\Extension\RunProcess:
            0: chromedriver --url-base=/wd/hub
            1: vendor/bin/codecept clean
            2: vendor/bin/robo build:unpacked
            3: tests/bin/bootstrap "/home/anderson/projects/repos-git/publishpress/publishpress-future/tests/docker/volumes/php5.6-wordpress"
            sleep: 3
