[mysqld]
general_log = 1
general_log_file = /var/log/mysql/general.log
log_output = 'FILE'
# Remove NO_ZERO_IN_DATE,NO_ZERO_DATE, to fix the error Syntax error or access violation: 1067 Invalid default value for 'scheduled_date_gmt' when importing a DB
sql_mode = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION'

[client]
ssl-mode=DISABLED
