.conditional-editor-modal .rule-fields,
.conditional-editor-modal .rule-value {
    flex: 1 1 0;
    min-width: 180px;
}

.conditional-editor-modal .rule-fields > div,
.conditional-editor-modal .rule-value > div {
    width: 100%;
}

.conditional-expression-builder {
    width: 100%;
}

.conditional-editor-modal .expression-builder-button {
    padding-left: 5px;
    padding-bottom: 4px;
}

.conditional-editor-modal-duplicate-rule,
.conditional-editor-modal-remove-element {
    width: 40px !important;
    height: 40px !important;
}

.conditional-editor-modal-operator-selector {
    height: 41px !important;
    min-height: 40px;
    margin-top: 7px;
}
