.pwe-workflow-editor aside {
    border-right: 1px solid #eee;
    padding: 15px 10px;
    font-size: 12px;
}

.pwe-workflow-editor .reactflow-wrapper {
    flex-grow: 1;
    height: 100%;
}

.pwe-workflow-editor .dndnode {
    height: 20px;
    padding: 4px;
    border: 1px solid #1a192b;
    border-radius: 2px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
}

.pwe-workflow-editor .dndnode.input {
    border-color: #0041d0;
}

.pwe-workflow-editor .dndnode.output {
    border-color: #ff0072;
}

.pwe-workflow-editor .selectall {
    margin-top: 10px;
}

.pwe-workflow-editor .node_metabox {
    border: 1px solid gray;
    min-height: 10px;
    margin-bottom: 10px;
}
