#future_pro_license_key input {
    width: 300px;
}

#future_pro_license_key .ppfuturepro_license_status {
    margin-top: 10px;
    margin-bottom: 10px;
}

#future_pro_license_key .ppfuturepro_license_status_valid span {
    color: #8181da;
}

#future_pro_license_key .ppfuturepro_license_status_invalid span {
    color: #d63638;
}

.future_pro_checkbox_selection_control {
    margin-bottom: 10px;
    margin-top: 6px;
}

.future_pro_metadata_mapping_row {
    margin-bottom: 10px;
}

.future_pro_checkbox_selection_control a {
    margin-right: 5px;
}

.expirationdate_metadata_metakeys input {
    width: 100%;
    display: inline-block;
}

.expirationdate_metadata_metakeys table {
    margin-top: 30px;
}

.expirationdate_metadata_metakeys table td .mapping-label-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.publishpress-settings-field-row {
    margin-bottom: 20px;
}

/* Fix style on checkbox on WP 6.6 */
body.branch-6-6.edit-php .components-checkbox-control__input-container {
    padding-top: 9px;
    line-height: 2.2em;
}

.post-expire-col {
    margin-bottom: 5px;
}

.pp-future-pro-workflow-deactivate-inline {
    color: #d63638;
}

.pp-future-pro-workflow-activate-inline {
    color: #8181da;
}
