#future_pro_license_key input {
    width: 300px;
}

#future_pro_license_key .ppfuturepro_license_status {
    margin-top: 10px;
    margin-bottom: 10px;
}

#future_pro_license_key .ppfuturepro_license_status_valid span {
    color: #8181da;
}

#future_pro_license_key .ppfuturepro_license_status_invalid span {
    color: #d63638;
}

.future_pro_checkbox_selection_control {
    margin-bottom: 10px;
    margin-top: 6px;
}

.future_pro_checkbox_selection_control a {
    margin-right: 5px;
}
