div.pe-qe-fields {
    padding: .2em .5em;
}

div.pe-qe-fields label {
    vertical-align: middle !important;
}

div.pe-qe-fields .post-expirator-date-fields,
div.pe-qe-fields > .pe-category-list {
    display: none;
}

div.pe-qe-fields > div {
    margin: 5px 0;
}

#bulk-edit div.pe-qe-fields > .pe-category-list {
    max-width: 25%;
}

.post-expirator-quickedit input {
    font-size: 12px;
}

.post-expire-col .icon-never {
    color: #dfdfdf;
}

.post-expire-col .icon-scheduled {
    color: #7171d7;
}

.post-expire-col .icon-missed {
    color: #e08f63;
}

.pe-qe-fields input.invalid {
    border: 2px solid #b15b5b;
    background-color: #ffdede;
}

.future-action-gray {
    color: #afafaf;
}

.future-action-action-name {
    font-style: italic;
}

.future-action-action-date {
    font-weight: bold;
}

#publishpress-future-quick-edit {
    max-width: 340px;
    padding: 14px;
    border: 1px solid #ddd;
}

#publishpress-future-quick-edit label {
    display: inline-block;
    max-width: 100%;
}

#publishpress-future-quick-edit .components-datetime__date,
#publishpress-future-quick-edit .components-datetime__time-separator,
#publishpress-future-quick-edit .components-form-token-field__input-container {
    background-color: white
}

#publishpress-future-quick-edit .components-datetime__date {
    padding: 4px;
}
