div.pe-qe-fields {
    padding: .2em .5em;
}

div.pe-qe-fields label {
    vertical-align: middle !important;
}

div.pe-qe-fields .post-expirator-date-fields,
div.pe-qe-fields > .pe-category-list {
    display: none;
}

div.pe-qe-fields > div {
    margin: 5px 0;
}

#bulk-edit div.pe-qe-fields > .pe-category-list {
    max-width: 25%;
}

.post-expirator-quickedit input {
    font-size: 12px;
}

.post-expire-col .icon-never {
    color: #dfdfdf;
}

.post-expire-col .icon-scheduled {
    color: #7171d7;
}

.post-expire-col .icon-missed {
    color: #e08f63;
}

.post-expire-col .icon-overdue {
    color: #353535;
}

.post-expire-col .future-action-overdue {
    font-style: italic;
}

.pe-qe-fields input.invalid {
    border: 2px solid #b15b5b;
    background-color: #ffdede;
}



.future-action-gray {
    color: #afafaf;
}

.future-action-action-name {
    font-style: italic;
}

.future-action-action-date {
    font-weight: bold;
}

.future-action-help-text {
    color: #a6a6a6;
    font-style: italic;
    line-height: 20px;
}

.future-quick-edit-fieldset,
#publishpress-future-bulk-edit,
#publishpress-future-quick-edit {
    max-width: 340px;
    padding: 14px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

.future-quick-edit-fieldset .title {
    margin-bottom: 10px;
    font-weight: bold;
}

#publishpress-future-bulk-edit label,
#publishpress-future-quick-edit label {
    display: inline-block;
    max-width: 100%;
}

.future-action-full-width,
.future-action-full-width .components-base-control {
    width: 100%;
}

#publishpress-future-bulk-edit .components-datetime__date,
#publishpress-future-bulk-edit .components-datetime__time-separator,
#publishpress-future-bulk-edit .components-form-token-field__input-container,
#publishpress-future-quick-edit .components-datetime__date,
#publishpress-future-quick-edit .components-datetime__time-separator,
#publishpress-future-quick-edit .components-form-token-field__input-container {
    background-color: white
}

#publishpress-future-quick-edit .components-datetime__date {
    padding: 4px;
}

#publishpress-future-classic-editor,
#publishpress-future-bulk-edit,
#publishpress-future-quick-edit,
#publishpress-future-block-editor {
    position: relative;
}

.future-action-date-panel.hidden-calendar .components-datetime__date {
    display: none;
}

#publishpress-future-classic-editor .components-datetime,
#publishpress-future-bulk-edit .components-datetime,
#publishpress-future-quick-edit .components-datetime,
#publishpress-future-block-editor .components-datetime {
    width: 100%;
}

.future-action-calendar-toggle {
    margin-left: calc(50% - 15px) !important;
    border: 1px solid #cbcbcb !important;
    background: #f4f4f4 !important;
    text-align: center;
    width: 30px;
}

.post-expirator-panel .future-action-warning {
    line-height: 20px;
    width: 100%;
}

.post-expirator-panel .future-action-warning .components-base-control__field > div {
    padding: 14px;
    background: #dae1f0;
}

.post-expirator-panel .future-action-error {
    line-height: 20px;
    width: 100%;
    background-color: #b15b5b;
    color: white;
    padding: 12px;
}

.future-action-panel .new-status .components-base-control {
    width: 100%;
}

.future-action-panel .notice {
    padding-top: 14px;
    width: 100%;
}

.future-action-panel .notice .dashicons {
    line-height: 30px;
}


/* Fix style on checkbox on WP 6.6 */
body.branch-6-6.edit-php .components-checkbox-control__input-container {
    padding-top: 9px;
    line-height: 2.2em;
}

/* Fix style on Event Espresso plugin */
body.espresso-admin #publishpress-future-classic-editor .components-checkbox-control__input-container svg,
body.espresso-admin #publishpress-future-classic-editor .components-input-control__suffix
{
    visibility: hidden;
}

body.espresso-admin #publishpress-future-classic-editor .components-input-control__container .components-input-control__input {
    border: 0;
    min-width: 30px;
    padding: 0 4px;
}

.pp-future-workflow-status-icon {
    margin-right: 5px;
    cursor: pointer;
}

.pp-future-workflow-status-icon.active {
    color: #46b450;
}

.pp-future-workflow-status-icon.inactive {
    color: #dc3232;
}

.wp-list-table .column-workflow_status {
    width: 75px;
}
