div.pe-qe-fields {
    padding: .2em .5em;
}

div.pe-qe-fields label {
    vertical-align: middle !important;
}

div.pe-qe-fields .post-expirator-date-fields,
div.pe-qe-fields > .pe-category-list {
    display: none;
}

div.pe-qe-fields > div {
    margin: 5px 0px;
}

#bulk-edit div.pe-qe-fields > .pe-category-list {
    max-width: 25%;
}

.post-expirator-quickedit input {
    font-size: 12px;
}

.post-expire-col .icon-never {
    color: #dfdfdf;
}

.post-expire-col .icon-scheduled {
    color: #7171d7;
}

.post-expire-col .icon-missed {
    color: #e08f63;
}

.post-expire-col .dashicons {
    cursor: help;
}

.pe-qe-fields input.invalid {
    border: 2px solid #b15b5b;
    background-color: #ffdede;
}
