/* Footer */

footer {
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    padding-top: 30px;
}

footer .pp-rating {
    font-size: 12px;
    margin-bottom: 10px;
    margin-top: 30px;
}

footer .pp-rating a,
footer .pp-rating a:visited,
footer .pp-rating a:active,
footer .pp-rating a:hover {
    text-decoration: none;
}

.pp-rating a:hover,
.pp-rating a:active,
.pp-rating a:focus,
footer * {
    color: #777;
}

footer hr {
    border: 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #fafafa;
}

footer > nav {
    margin-top: 1em;
    margin-bottom: 1em;
}

footer > nav ul {
    list-style: none;
}

footer > nav ul > li {
    display: inline-block;
}

footer > nav ul > li:not(:first-child) {
    margin-left: 15px;
}

footer > nav ul > li > a {
    font-weight: bold;
    text-decoration: none;
}

footer > nav ul > li > a:hover,
footer > nav ul > li > a:focus,
footer > nav ul > li > a:active {
    color: #655997;
}

footer > nav ul > li > a span.dashicons:hover,
footer > nav ul > li > a span.dashicons:focus,
footer > nav ul > li > a span.dashicons:active {
    color: #655997;
}

footer .dashicons.dashicons-star-filled {
    line-height: 18px;
    font-size: 12px;
    width: 12px;
    height: 12px;
    color: #ffb300 !important;
    -webkit-transition: color 200ms ease-in-out;
    -moz-transition: color 200ms ease-in-out;
    -o-transition: color 200ms ease-in-out;
    transition: color 200ms ease-in-out;
}

footer .pp-pressshack-logo img {
    width: 170px;
}

footer .dashicons.dashicons-facebook {
    line-height: 16px;
}
