ul.pe-list {
	list-style: disc !important;
}

ul.pe-list > li {
	margin-left: 3%;
}

.pe-scroll {
	height: 300px;
	overflow-y: scroll;
}

.pe-scroll > table td {
	padding: 5px;
}

tr.pe-event {
	background-color: #ddd !important;
}

#pe-settings-tabs fieldset {
	border: 1px solid black;
	border-radius: 6px;
	padding: 0px 12px;
	margin-bottom: 20px;
}

/* overwrite jquery-ui */
.ui-widget {
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif !important;
	font-size: initial !important;
}

.ui-widget-content {
	background: none !important;
}

.ui-widget-content a {
	color: #0073aa !important;
}

.ui-widget-header a {
	color: #222 !important;
}