ul.pe-list {
    list-style: disc !important;
}

ul.pe-list > li {
    margin-left: 3%;
}

.pe-scroll {
    height: 300px;
    overflow-y: scroll;
}

.pe-scroll > table td {
    padding: 5px;
}

tr.pe-event {
    background-color: #ddd !important;
}

#pe-settings-tabs fieldset {
    border: 1px solid black;
    border-radius: 6px;
    padding: 0 12px;
    margin-bottom: 20px;
}

.pe-checklist label {
    display: block;
    width: 300px;
    margin-bottom: 2px;
}

.pe-status {
    display: inline-block;
    font-size: 25px;
}

.pe-status-enabled {
    color: #2c9b1a;
}

.pe-status-disabled {
    color: #e58484;
}

.pe-status + span {
    line-height: 25px;
    margin-left: 5px;
    margin-right: 10px;
}

.pe-status + span + input[type="submit"] {
    margin-right: 10px;
}