ul.pe-list {
	list-style: disc !important;
}

ul.pe-list > li {
	margin-left: 3%;
}

.pe-scroll {
	height: 300px;
	overflow-y: scroll;
}

.pe-scroll > table td {
	padding: 5px;
}

#pe-settings-tabs fieldset {
	border: 1px solid black;
	border-radius: 6px;
	padding: 0px 12px;
	margin-bottom: 20px;
}

.pe-checklist label {
    display: block;
    width: 300px;
    margin-bottom: 2px;
}

.pe-status {
    display: inline-block;
    font-size: 25px;
}

.pe-status-enabled {
    color: #2c9b1a;
}

.pe-status-disabled {
    color: #e58484;
}

.pe-status + span {
    line-height: 25px;
    margin-left: 5px;
    margin-right: 10px;
}

.pe-status + span + input[type="submit"] {
    margin-right: 10px;
}


/* Footer */

footer {
  text-align: center;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	padding-top: 30px;
}

footer .pp-rating {
	 font-size: 12px;
	 margin-bottom: 10px;
	 margin-top: 30px;
}

footer .pp-rating a,
footer .pp-rating a:visited,
footer .pp-rating a:active,
footer .pp-rating a:hover {
	 text-decoration: none;
}

.pp-rating a:hover,
.pp-rating a:active,
.pp-rating a:focus,
footer * {
	 color: #777;
}

footer hr {
	 border: 0;
	 border-top: 1px solid #ddd;
	 border-bottom: 1px solid #fafafa;
}

footer > nav {
	 margin-top: 1em;
	 margin-bottom: 1em;
}

footer > nav ul {
	 list-style: none;
}

footer > nav ul > li {
	 display: inline-block;
}

footer > nav ul > li:not(:first-child) {
	 margin-left: 15px;
}

footer > nav ul > li > a {
	 font-weight: bold;
	 text-decoration: none;
}

footer > nav ul > li > a:hover,
footer > nav ul > li > a:focus,
footer > nav ul > li > a:active {
	 color: #655997;
}

footer > nav ul > li > a span.dashicons:hover,
footer > nav ul > li > a span.dashicons:focus,
footer > nav ul > li > a span.dashicons:active {
	 color: #655997;
}

footer .dashicons.dashicons-star-filled {
	 line-height: 18px;
	 font-size: 12px;
	 width: 12px;
	 height: 12px;
	 color: #ffb300 !important;
	 -webkit-transition: color 200ms ease-in-out;
	 -moz-transition: color 200ms ease-in-out;
	 -o-transition: color 200ms ease-in-out;
	 transition: color 200ms ease-in-out;
}

footer .pp-pressshack-logo img {
	 width: 170px;
}

.form-table .widefat th {
	padding-left: 20px;
	font-weight: 400;
}

.form-table .widefat .pe-date-column,
.form-table .widefat .pe-event-column {
	width: 20%;
}

span.post-expiration-attributes {
	color: #adadad;
}

.pe-event-post {
	cursor: help;
}

.post-expirator-timestamp {
	width: 20% !important;
}

.publishpress-future-token-label {
	margin-bottom: 8px;
	margin-top: 10px;
	display: block;
}

.publishpres-future-token-field [class$="-control"] {
	padding: 0;
	border: 1px solid #8c8f94;
}

.publishpres-future-token-field [class$="-ValueContainer"] {
	padding: 0 4px;
}

.publishpres-future-token-field [class$="-multiValue"] {
	background-color: #d3e3fd;
}

/* Ads */
.pp-advertisement-right-sidebar .upgrade-btn a {
    background: #FCB223;
    color: #000 !important;
    font-weight: normal;
    text-decoration: none;
    padding: 9px 12px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-sizing: border-box;
    border: 1px solid #fca871;
    break-inside: avoid;
    white-space: nowrap;
}

.pp-advertisement-right-sidebar .upgrade-btn a:hover {
    background: #fcca46;
    color: #000 !important;
}

.pp-advertisement-right-sidebar h3.hndle {
    font-size: 14px;
    padding: 8px 12px;
    margin: 0;
    line-height: 1.4;
}

.ppseries-token-right-sidebar h3.hndle {
    font-size: 14px;
    padding: 8px 12px;
    margin: 0;
    line-height: 1.4;
}

.pp-advertisement-right-sidebar h3.hndle {
    font-size: 14px;
    padding: 8px 12px;
    margin: 0;
    line-height: 1.4;
}

.pp-advertisement-right-sidebar .inside ul {
    margin-bottom: 20px;
}

.pp-advertisement-right-sidebar .inside ul li {
    position: relative;
    padding-left: 22px;
    font-weight: 600;
    font-size: .9em;
}

.pp-advertisement-right-sidebar .inside ul li:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background-color: #3C50FF;
    mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z'/></svg>");
    -webkit-mask-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z'/></svg>");
    mask-size: 16px;
    -webkit-mask-size: 16px;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    mask-position: left;
    -webkit-mask-position: left;
}

.pp-advertisement-right-sidebar a.advert-link {
    display: block;
    margin-top: 10px;
    font-size: 1em;
}

.pp-advertisement-right-sidebar .advertisement-box-header {
    background: #655897;
    color: #ffffff;
}

.pp-advertisement-right-sidebar .advertisement-box-content {
    border: 1px solid #655897;
}

#screen-options-wrap label[for^="pp_boxes_banner-hide"],
#pp_boxes_banner .postbox-header:not(.pp-advert),
#screen-options-wrap label[for^="ppmacf_banner-hide"],
#ppmacf_banner .postbox-header:not(.pp-advert) {
    display: none !important;
}

#pp_boxes_banner,
#ppmacf_banner {
    background: unset !important;
    border: none !important;
    margin-bottom: 0 !important;
}

#pp_boxes_banner .inside:not(.pp-advert),
#ppmacf_banner .inside:not(.pp-advert) {
    padding: 0 !important;
}

@media only screen and (min-width: 1075px) {
    .pp-advertisement-right-sidebar-message,
    .upgrade-btn {
        display: inline-block;
    }

    .pp-advertisement-right-sidebar-message {
        margin-right: 25px;
    }
}

@media only screen and (max-width: 1074px) {
    .pp-advertisement-right-sidebar-message,
    .upgrade-btn {
        display: block;
    }

    .upgrade-btn {
        margin-top: 20px;
    }

    .upgrade-btn a {
        max-width: 170px;
    }
}
