@media (min-width: 782px) {
    .workflow-editor #wpwrap {
        overflow-y: initial;
    }
}
.workflow-editor #wpwrap {
    overflow-y: auto;
}

body.js.workflow-editor #wpcontent {
    padding-left: 0;
}

body.js.workflow-editor #wpbody-content {
    padding-bottom: 0;
}

@media (min-width: 600px) {
    #future-workflow-editor {
        bottom: 0;
        left: 0;
        min-height: calc(100vh - 46px);
        position: absolute;
        right: 0;
        top: 0;
    }
}

@media (min-width: 782px) {
    #future-workflow-editor {
        min-height: calc(100vh - 32px);
    }
}

@media (min-width: 782px) {
    body.is-fullscreen-mode #future-workflow-editor {
        min-height: 100vh;
    }
}

.edit-post-editor__inserter-panel,
.edit-post-editor__inserter-panel-content {
    height: 100%;
}

#future-workflow-editor .loading {
    font-size: 17px;
    text-align: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    flex-direction: column;
    flex-wrap: nowrap;
}

#future-workflow-editor .loading .spinner-icon {
    margin-right: 10px;
    display: block;
    margin-bottom: 20px;
}

body.js.workflow-editor,
body.admin_page_future_workflow_editor {
    background-color: #fff;
}

.edit-post-sidebar .interface-complementary-area-header__small {
    display: none;
}

/* workflow editor modal */
.workflow-editor-modal .components-modal__content {
    margin-bottom: 72px;
}

.workflow-editor-modal .components-modal__header button.components-button {
    display: none;
}

.workflow-editor-modal .workflow-editor-modal-footer {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    left: 0;
    padding: 24px;
    position: absolute;
    width: 100%;
    z-index: 10;
    bottom: 0;
    justify-content: flex-end;
}
