#publishpress-future-quick-edit {
    max-width: 340px;
    padding: 14px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}


#publishpress-future-quick-edit label {
    display: inline-block;
    max-width: 100%;
    line-height: 12px;
}

#post-expirator-quick-edit-wrapper .components-checkbox-control__label {
    line-height: 12px;
}
