#publishpress-future-pro-bulk-edit,
#publishpress-future-pro-quick-edit {
    max-width: 340px;
    padding: 14px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

#publishpress-future-pro-bulk-edit label,
    #publishpress-future-pro-quick-edit label {
    display: inline-block;
    max-width: 100%;
}
