name: VIP Scans and other code checks
on:
  push:
    branches:
      - 'main'

  pull_request:
    branches:
      - '*'

  workflow_call:

  workflow_dispatch:
    inputs:
      debug_enabled_code_check:
        type: boolean
        description: 'Enable "tmate" debugging for the code check'
        required: false
        default: false
jobs:
  check:
    name: Check the code
    runs-on: ubuntu-latest
    env:
      DOCKER_IMAGE: publishpress/dev-workspace-terminal:future-free-2

    steps:
      - name: Setup tmate session for Debugging, if inputs.debug_enabled_code_check is true
        uses: mxschmitt/action-tmate@v3
        if: ${{ inputs.debug_enabled_code_check }}
        timeout-minutes: 10
        with:
          detached: true

      - name: Checkout code
        uses: actions/checkout@v3

      - id: image-cache
        uses: actions/cache@v3
        with:
          path: ~/image-cache
          # Adjust key to meet your cache time requirements e.g.
          # ${{ hashFiles(*) }} can be useful here to invalidate
          # cache on file changes
          key: image-cache-${{ hashFiles('dev-workspace/docker/Dockerfile') }}

      - if: steps.image-cache.outputs.cache-hit != 'true'
        name: Pull Docker image
        run: |
          docker pull $DOCKER_IMAGE
          docker save -o ~/image-cache-terminal.tar $DOCKER_IMAGE

      - if: steps.image-cache.outputs.cache-hit == 'true'
        name: Load Docker image from cache
        run: docker load -i ~/image-cache-terminal.tar

      - name: Run code checks
        run: |
          docker run --rm \
            -v ${{ github.workspace }}:/project \
            --workdir="/project" \
            $DOCKER_IMAGE \
            bash -c "composer validate && composer install --no-interaction --no-progress --prefer-dist --ignore-platform-reqs && composer check"
