name: Composer validate
on:
  push:
    branches:
      - 'master'

    pull_request:
      branches:
        - '*'

jobs:
  validate:
    name: Composer validate
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Validate composer.json and composer.lock
        run: composer validate
