name: Deploy plugin to WordPress.org
on:
  release:
    types: [ published ]

  workflow_dispatch:

jobs:
  code-check:
    name: Check the code
    uses: ./.github/workflows/code-check.yml
    secrets: inherit

  deploy-wp-org:
    name: Deploy the new tag
    needs: code-check
    runs-on: ubuntu-latest
    container:
      image: publishpress/dev-workspace-terminal:future-free
      options: -v ${{ github.workspace }}:/project --workdir="/project"
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Build the package
        run: composer build

      - name: WordPress.org plugin deploy
        uses: 10up/action-wordpress-plugin-deploy@stable
        env:
          SVN_PASSWORD: ${{ secrets.SVN_PASSWORD }}
          SVN_USERNAME: ${{ secrets.SVN_USERNAME }}
          SLUG: post-expirator
          BUILD_DIR: /project/dist/post-expirator

      - name: Save version number to version.txt
        run: composer get-version

      - name: Get version number from version.txt
        id: get-version
        run: echo "version=$(cat version.txt)" >> "$GITHUB_OUTPUT"

      - name: Upload release asset
        uses: actions/upload-release-asset@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
        with:
          upload_url: ${{ github.event.release.upload_url }}
          asset_path: /project/dist/
          asset_name: publishpress-future-${{ steps.get-version.outputs.version }}.zip
          asset_content_type: application/zip
