name: PHPLint

on:
  branch:
    branches:
      - main
      - develop
      - release-*

  pull_request:
    branches:
      - *

concurrency:
  group: phplint-${{ github.ref }}-1
  cancel-in-progress: true

jobs:
  phplint:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      fail-fast: false
      matrix:
        operating-system: [ ubuntu-20.04 ]
        php-versions: [ '7.4' ]
    name: PHP ${{ matrix.php-versions }} Test on ${{ matrix.operating-system }}
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-versions }}
          extensions: intl, fileinfo, zip, mbstring
          ini-values: "post_max_size=256M"

      - name: Show PHP Version
        run: php -v
        
      - name: Get Composer Cache Directory
        id: composer-cache
        run: |
          echo "::set-output name=dir::$(composer config cache-files-dir)"
      
      - uses: actions/cache@v3
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.lock') }}
          restore-keys: |
            ${{ runner.os }}-composer-

      - name: Validate composer.json and composer.lock
        run: composer validate

      - name: Install dependencies
        run: composer install --prefer-dist --no-progress --no-suggest --no-interaction

      - name: Check syntax errors
        run: ./vendor/bin/phplint
